.game-entry {
  display: flex;
}

.game-entry:not(:last-child) {
  margin-bottom: 15px;
}

.game-entry.left-entry {
  justify-content: flex-start;
}

.game-entry.right-entry {
  justify-content: flex-end;
  text-align: right;
}

.game-gold, .game-cs, .game-kda, .game-champion {
  @extend .valign-wrapper;
}

.game-gold, .game-cs, .game-kda, .game-items, .game-spells, .game-champion {
  margin: 0 7px;
  float: left;
  box-sizing: border-box;
}

.game-champion {

  > span {
    position: relative;
  }

  .game-champion-level {
    position: absolute;
    bottom: 3px;
    left: 3px;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 13px;
  }
}

.left-entry .game-champion {
  margin-left: 0;
}

.right-entry .game-champion {
  margin-right: 0;
}

.game-cs {
  width: 55px;
}

.game-gold {
  width: 67px;
}

.game-kda {
  width: 130px;
}

.game-gold > span, .game-cs > span, .game-kda > span, .game-champion > span {
  @extend .valign;
  text-align: center;
  margin: 0 auto;
}

.game-gold > span span, .game-cs > span span, .game-kda > span span {
  font-size: 12px;
}

.bans-left, .bans-right {
  margin-bottom: 0;
}

.bans-value {
  height: 24px;
  margin: 2px;
}

.modal-collapse-body {
  padding: 2rem;

  p {
    padding: 0;
    margin-bottom: 10px;
  }
}

.command-area {
  height: auto;
  max-width: 690px;
  overflow: hidden;
  resize: none;
  border: 0;
  padding: 0;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

.copy-button {
  cursor: pointer;
  color: #039be5;
}

.game-row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.team- {
  &100 {
    box-shadow: 0 0 3px 2px #039be5;

    &.hide-shadow {
      box-shadow: none;
    }
  }

  &200 {
    box-shadow: 0 0 3px 2px #9c27b0;

    &.hide-shadow {
      box-shadow: none;
    }
  }
}