body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.top-nav-bar {
  @extend .light-blue, .darken-1;
}

.server-button {
  position: absolute;
  top: 0.1rem;
  left: 0.75rem;
  width: 4.75rem;
  padding: 0 1rem;
}

#summoner_name {
  box-sizing: border-box;
  padding-left: 5.35rem;
}

label[for="summoner_name"] {
  left: 6.1rem;
}

.search-area {
  display: flex;

  .search-text {
    flex: 1;
  }
}

.img-roundshadow {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.99);
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.99);
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.99);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.flex-fill {
  flex: 1;
}

#toast-container {
  z-index: 1003;
}

ul.error-list {
  margin: 0;
  padding-left: 25px;
  list-style-type: disc;

  li {
    list-style-type: disc;
  }
}