body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.top-nav-bar {
  @extend .light-blue, .darken-1;
}

.server-button {
  position: absolute;
  top: 0.1rem;
  left: 0.75rem;
  width: 4.75rem;
  padding: 0 1rem;
}

#summoner_name {
  box-sizing: border-box;
  padding-left: 5.35rem;
}

label[for="summoner_name"] {
  left: 6.1rem;
}

.search-area {
  display: flex;

  .search-text {
    flex: 1;
  }
}

.img-roundshadow {
  box-shadow: 0 0 2px #000;
  border-radius: 6px;
}

.flex-fill {
  flex: 1;
}

#toast-container {
  z-index: 1003;
}

ul.error-list {
  margin: 0;
  padding-left: 25px;
  list-style-type: disc;

  li {
    list-style-type: disc;
  }
}

.center-align-children {
  display: flex;
  justify-content: center;
}

footer.page-footer {
  margin-top: 0;
}

main.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1.h404
{
  font-size: 10rem;
  animation: rainbow-shadow 2s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes rainbow-shadow {
  0% {
    text-shadow: 1px 1px 0 #ee4035, 2px 2px 0 #ee4035, 3px 3px 0 #ee4035, 4px 4px 0 #ee4035, 5px 5px 0 #ee4035, 6px 6px 0 #ee4035;
  }
  25% {
    text-shadow: 1px 1px 0 #f37736, 2px 2px 0 #f37736, 3px 3px 0 #f37736, 4px 4px 0 #f37736, 5px 5px 0 #f37736, 6px 6px 0 #f37736;
  }
  50% {
    text-shadow: 1px 1px 0 #fdf498, 2px 2px 0 #fdf498, 3px 3px 0 #fdf498, 4px 4px 0 #fdf498, 5px 5px 0 #fdf498, 6px 6px 0 #fdf498;
  }
  75% {
    text-shadow: 1px 1px 0 #7bc043, 2px 2px 0 #7bc043, 3px 3px 0 #7bc043, 4px 4px 0 #7bc043, 5px 5px 0 #7bc043, 6px 6px 0 #7bc043;
  }
  100% {
    text-shadow: 1px 1px 0 #0392cf, 2px 2px 0 #0392cf, 3px 3px 0 #0392cf, 4px 4px 0 #0392cf, 5px 5px 0 #0392cf, 6px 6px 0 #0392cf;
  }
}

.bold {
  font-weight: 500;
}

.extra-bold {
  font-weight: 700;
}